extends ./layout.jade
block content
    h2 Spot Option
    br
    h3 Api url
    .bs-example
        p.lead Save Contact
    .highlight
        pre!='/save?param1=value1&ampparam2=value2'
    h5 Where parameters are
    .highlight
        pre
            p email=example@example.com
            p firstName=FirstName
            p lastName=LastName
            p country=US (Country abbreviate, see table below)
            p currency=USD (or EU)
            p password=yourPassword
            p phone=yourPhoneNumber
    table.table
        thead
            tr
                th Country ID
                th Country ISO
                th Country name
        tbody
            each val in data
                tr
                    td=val[0]
                    td=val[1]
                    td=val[2]
