extends ./layout.jade
block content
    h2 Spot Option
    br
    h3 Customer data is saved!
    .highlight
        pre
            p='Email is '+email
            p='First name is '+firstName
            p='Last name is '+lastName
            p='Chosen currency '+currency
            p='Password is '+password
            p='Phone number is '+phone
            p='Country ID is '+country
